<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Change your password</title>
	<link rel="stylesheet" type="text/css" href="css/mycss.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
   	<script src="./FileSaver.js"></script>
	<script src="./dirPagination.js"></script>
	<script src="./userapp.js"></script>
</head>
<body data-ng-app="userapp">
<div ng-controller="ChangePwdCtrl">
	<form ng-submit="ChangePwd()">
    	Old Password: <input type="password" ng-model="oldpassword"><br>
		New Password: <input type="password" ng-model="newpassword"><br>
    	Confirm Password: <input type="password" ng-model="confirmpassword"><br>
		<button type="submit"value="Change">Save</button>
	</form>
</div>
<button id ="backw" onclick="window.location.href='welcomepage.html'">Back to welcome page</button>
<button id = "back" onclick="window.location.href='edit-profile.html'">Back</button>
</body>
</html>